.modal-bg{
    position:absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #00000022;
    display: flex;
    justify-content: center;
}
.modal-card{
    height: max-content;
    width: 70%;
    padding: 5%;
    padding-top: 0;
    margin-top: 10%;
    background-color: #fff;
    border-radius: 10px;
}

#close-btn{
    /* position: absolute; */
	transition: transform .25s, opacity .25s;
	cursor: pointer;
	font-size: 40px;
	font-family: serif;
	line-height: 1;
    border: none;
    margin-top: 40px;
    float: right;
    background-color: #fff;
    height: 40px;
    width: 40px;
    text-align: center;
}

#close-btn:hover{
    opacity: 1;
    transform: rotate(90deg);
    background-color: #ff000044;
    color: white;
    border-radius: 20px;
}

#close-btn:before{
	content: "\d7";
}

h1{
    text-align: center;
}

@media only screen and (max-width: 700px) {
    .modal-card{
        margin-top: 250px;
        position: absolute;
    }
}

@media only screen and (max-width: 480px) {
    .modal-bg{
        margin-top: 40px;
    }
}
