.modal-bg{
    position:absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #00000022;
    display: flex;
    justify-content: center;
}
.modal-card{
    height: 70%;
    width: 70%;
    background-color: #fff;
}