.navbar {
  padding: 10px;
  display: flex;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  border-bottom: 1px solid white;
}
.navbar h1 {
  color: #f44336;
  font-size: 30px;
}

.navbar .links {
  margin-left: auto;
}

#hoome, #leader, #schedule {
  margin-right: 15px;
  padding: 10px 15px;
  background-color: #f1356d;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
}

@media only screen and (max-width: 479px) {
  #hoome, #leader, #schedule{
    margin-left: 20vw;
    flex-wrap: wrap;
    margin-bottom: 2vw;
  }
}
